<mat-card>
  <h2>Create new article</h2>
  <form [formGroup]="newArticleForm" (ngSubmit)="onFormSubmit()" id="form">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title">

      <mat-error *ngIf="hasErrors('title')">{{ getErrorMessage('title') }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Content</mat-label>
      <textarea matInput formControlName="content"></textarea>

      <mat-error *ngIf="hasErrors('content')">{{ getErrorMessage('content') }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Tags</mat-label>
      <mat-chip-list #chipList>
        <mat-chip
          *ngFor="let tag of tagListControl.value"
          [removable]="removable"
          (removed)="removeTag(tag)"
        >
            {{tag}}
            <button matChipRemove *ngIf="removable">
              <mat-icon>cancel</mat-icon>
            </button>
        </mat-chip>
        <input
          placeholder="New tag..."
          [formControl]="tagCtrl"
          [matChipInputFor]="chipList"
          (matChipInputTokenEnd)="addTag($event)"
        >
      </mat-chip-list>
    </mat-form-field>
  </form>

  <button
    [disabled]="!newArticleForm.valid"
    mat-raised-button
    color="primary"
    type="submit"
    form="form"
  >Submit</button>
</mat-card>
