<mat-card class="wrapper">

  <span>TEST 6</span>

  <img src="../../../assets/avatar.png" class="userAvatar" alt="user avatar"/>

  <span class="userName">test_user</span>
  <span class="date">{{ article.date | date:'longDate' }}</span>

  <button
    *ngIf="article.likes > 0; else noLikesButton"
    (click)="onAddLike()"
    class="addLikeButton"
    mat-button
    color="warn"
  >
    <mat-icon class="icon">favorite</mat-icon>
    {{article.likes}}
  </button>
  <ng-template class="addLikeButton" #noLikesButton>
    <button (click)="onAddLike()" mat-button color="warn">
      <mat-icon class="icon">favorite_border</mat-icon>
      {{article.likes}}
    </button>
  </ng-template>

  <mat-chip-list class="tags">
    <mat-chip
      *ngFor="let tag of article.tags"
      color="primary"
      selected
    >
      {{tag.name}}
    </mat-chip>
  </mat-chip-list>

  <h2 class="articleTitle">{{article.title}}</h2>
  <section
    class="articleContent"
    [ngClass]="{'limitedArticleContentLength': isReadMore, 'fullArticleContentLength': !isReadMore}"
  >
    {{article.content}}
  </section>

  <button
    (click)="toggleArticleContentLength()"
    type="button"
    class="toggleArticleContentLengthButton"
    mat-button
    color="primary"
  >
    {{ isReadMore ? 'Read more...': 'Read less...' }}
  </button>
</mat-card>
